@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes hamburger-to-x {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes x-to-hamburger {
  0% {
    transform: rotate(360deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.animate-hamburger-to-x {
  animation: hamburger-to-x 0.5s forwards;
}

.animate-x-to-hamburger {
  animation: x-to-hamburger 0.5s forwards;
}
